/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Quicksand|Raleway:300,400,700');

@font-face {
	font-family: Intro; 
	src: url(../fonts/Intro.otf);
	font-weight: normal;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Globals */
body {
	font-family: tarzana-narrow, sans-serif;
	font-size: 1em;
	line-height: 1.4;
}
  
img {
	max-width: 100%;
}  

figure {
	margin: 0;
	padding: 0;
}
  
p {
	font-family: tarzana-narrow, sans-serif;
	font-size: 1.2em;
}  
   
h1 {
	font-family: Intro, sans-serif;
	font-size: 3em;
}

h2 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.33em;
	font-weight: 700;
	letter-spacing: 0.16rem;
	text-transform: uppercase;
}

h3 {
	font-family: tarzana-narrow, sans-serif;
	font-size: 2em;
	font-weight: normal;
	line-height: 1.2;
}

h4 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
}

h5 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 0.7em;
	letter-spacing: 0.06rem;
	font-weight: 400;
	text-transform: uppercase;
}

a:link {
	color: #000;
}

a:hover {
	color: #08a842;
}

blockquote {
	font-size: 2em;
	width: 50%;
	margin: 0 auto;
	
}

/* Navigation */   

.menu {
	padding-top: 6.67em;
	padding-left: 1.875em;
	font-size: 1em;
	color: #000;
	border-bottom: 1px solid #e6e6e6;
	margin: 0 3rem;
}

ul.menu li {
	list-style-type: none;
}

.social-media {
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	padding-right: 1.5em;
}

.social-nav {
	margin: 0 2.25rem;
}

.social-nav li {
	list-style-type: none;
}

.main-nav { 
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	font-size: 1em;
}

.main-nav ul {
	list-style-type: none;
}

.main-nav li {
	margin: 1.6em 0;
}

.main-nav a {
	text-decoration: none;
}

.main-nav .close-icon {
	font-style: normal;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	color: #000;
	font-size: 3em;
	cursor: pointer;
}

.nav-open .main-nav {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 14.375rem;
	height: 100%;
}

.nav-open .page-content {
	transform: translateX(15%);
}

.nav-open .page-content:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: hsla(57, 10%, 80%, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 150;
	margin: 0;
	padding: 0;
}

/* Header */
.page-header {
	width: 100%;
	height: 6.875em;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
}

.logo {
	width: 7.375rem;
	height: 5.25rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: url(../img/logo-stacked.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	z-index: 150;
}

.page-header .nav-icon {
	position: absolute;
	left: 1.875rem;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 1.42rem;
}

/* .nav-icon transformation -- adapted from http://www.w3schools.com/howto/howto_css_menu_icon.asp */

.nav-icon {
	display: inline-block;
	cursor: pointer;
}

.bar1, .bar2, .bar3 {
	width: 24px;
	height: 2px;
	background-color: #333;
	margin: 5px 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: rotate(-45deg) translate(-6px, 4px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(45deg) translate(-5px, -5px);
}

/* end .nav-icon transformation */

.nav-icon-2 {
	cursor: pointer;
}

.menu-nav {
	position: absolute;
	left: 3.63rem;
	top: 50%;
	transform: translateY(-50%);
}

.menu-nav h5 {
	margin-left: 0.25rem;
	font-weight: 700;
}

.top-icons {
	position: absolute;
	right: 0;
	top: 35%;
	transform: translateY(-50%);
	margin-left: 1rem;
	margin-right: 0.875rem;
	padding: 0;
}

/* Page Sections */

.hero {
	width: 100%;
	position: relative;
	margin-top: 6.875rem;
	background-image: url(../img/ESY_website_banner_02-e1480364676893.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 34.375em;
}

.centered h1 {
	line-height: 1.1;
	width: 40%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.button-container {
	position: absolute;
	bottom: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
}

.hero button {
	margin-right: 1.25em;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
}

.centered {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.intro {
	text-align: center;
	max-width: 50%;
	margin: 0 auto;
	padding: 5em 0;
}

.intro p {
	font-size: 2em;
}

.page-section {
	width: 100%;
	position: relative;
	background-color: #fff;
	padding-bottom: 1.5em;
}

.page-section-alt {
	width: 100%;
	position: relative;
	background-color:#f8f4f1;
	padding-bottom: 1.5em;
}

.page-section h5, .page-section-alt h5 {
	text-align: center;
}

/* Page Content */

.container {
	max-width: 75em;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	position: relative;
	overflow: auto;
}

.container h2, .container-alt h2 {
	margin-top: 5rem;
}

.container h2, .container h4 {
	text-align: center;
}

.container-alt {
	max-width: 60%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: auto;
}

.container-alt h2, .container-alt h4, .container-alt h5 {
	text-align: center;
}

.feature {
	position: relative;
	display: block;
	max-width: 22.87rem;
	height: 34.44rem;
	float: left;
	padding: 0;
	margin: 1rem;
	background-color: #fff;
}

.feature p {
	margin: 0 2.5rem;
}

.feature h3 {
	margin: 2rem 2.5rem 1.5rem 2.5rem;
}

.feature h5 {
	position: absolute;
	bottom: 1.5rem;
	left: 2.5rem;
}

.feature-2 {
	max-width: 15.5rem;
	height: auto;
	position: relative;
	margin: 5rem 3.91rem 5.93rem 4.375rem;
	float: left;
}

.thumb {
	width: 10.5em;
	height: 10.5em;
	float: left;
	margin: 0 0.93em 0.93em 0.93em;
}

.button {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
	padding: 0.5rem 1rem;
	font-size: 0.75em;
	font-family: Raleway, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}

.button:hover {
	background-color: #08a842;
	border: 1px solid #08a842;
	color: #fff;
}

/* Aside */
.page-aside {
	max-width: 58em;
	height: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	margin-top: 4.937rem;
	margin-bottom: 4.937rem;
	overflow: auto;
}

.aside-feature-1 {
	width: 18.75rem;
	height: auto;
	border-right: 1px solid #e6e6e6;
	float: left;
	padding: 0 5rem;
}

.aside-feature-1 img {
	width: 13.75rem;
}

.aside-feature-1 h4, .aside-feature-2 h4 {
	margin: 1rem 2rem 2rem 2rem;
}

.aside-feature-2 {
	width: 18.75rem;
	height: auto;
	float: left;
	padding: 0 5rem;
}

.aside-feature-2 img {
	width: 8.75rem;
	margin-bottom: 3rem;
}

/* Form */

.form-wrapper {
	display: inline-block;
	margin: 0;
}

input[type=text] {
	border: 1px solid #b8b5c1;
	width: 11.25rem;
	height: 2.25rem;
	margin-right: 0.5rem;
}

input[type=text]:focus {
	border: 1px solid #08a842;
}

/* Footer */

.page-footer {
	width: 100%;
	text-align: center;
	border-top: 1px solid #e6e6e6;
	padding-top: 4.25rem;
}

.copyright {
	color: #a5a5a5;
	font-size: 0.85em;
	margin-top: 0;
}

.copyright a:link {
	color: #a5a5a5;
}

.page-footer a:link {
	text-decoration: none;
}

.page-footer button {
	background-color: #000;
	color: #fff;
	margin-top: 1rem;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
