/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand|Raleway:300,400');

@font-face {
	font-family: Intro; 
	src: url(../fonts/Intro.otf);
	font-weight: normal;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Globals */
body {
	font-family: tarzana-narrow, sans-serif;
	font-size: 1em;
	line-height: 1.6;
}
  
img {
	max-width: 100%;
}  
  
p {
	font-family: tarzana-narrow, sans-serif;
	font-size: 1.2em;
}  
   
h1 {
	font-family: Intro, sans-serif;
	font-size: 3em;
}

h2 {
	font-family: Josefin Sans, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
	font-family: tarzana-narrow, sans-serif;
	font-size: 2em;
	font-weight: normal;
}

h4 {
	font-family: Josefin Sans, sans-serif;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

h5 {
	font-family: Josefin Sans, sans-serif;
	font-size: 0.75em;
	font-weight: normal;
	text-transform: uppercase;
}

a:link {
	color: #000;
}

a:visited {
	
}

a:hover {
	color: #08a842;
}

a:active {
	
}

blockquote {
	font-size: 2.5em;
}

/* Navigation */   

.menu {
	padding-top: 2.937em;
	padding-left: 1.875em;
	font-size: 1em;
	color: #000;
	border-bottom: 1px solid #e6e6e6;
	margin: 0 3rem;
}

ul.menu li {
	list-style-type: none;
}

.social-media {
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	padding-right: 1.625em;
}

.social-nav {
	margin: 0 2.25rem;
}

.social-nav li {
	list-style-type: none;
}

.main-nav {
	margin-top: 6.875rem; 
	display: none;
	position: relative;
	background-color: #fff;
	font-size: 1em;
}

.main-nav ul {
	list-style-type: none;
}

.main-nav li {
	margin: 1.5em 0;
}

.main-nav a {
	text-decoration: none;
}

.main-nav .close-icon {
	font-style: normal;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	color: #000;
	cursor: pointer;
}

.main-nav li {
	position: relative;
}

.nav-open {
	overflow: auto;
}

.nav-open .main-nav {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 15%;
	min-height: 100%;
}

.nav-open .page-content {
	transform: translateX(50%);
}

.nav-open .page-content:before {
	content: '';
	display: block;
	width: 50%;
	height: 100%;
	background: hsla(0, 100%, 50%, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 150;
}

/* Header */
.page-header {
	width: 100%;
	height: 6.875em;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
}

.logo {
	width: 7.375rem;
	height: 5.25rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: url(../img/logo-stacked.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	z-index: 10;
}

.nav-icon {
	position: absolute;
	left: 1.625em;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.menu-nav {
	position: absolute;
	left: 2.93em;
	top: 50%;
	transform: translateY(-50%);
}

.top-icons {
	position: absolute;
	right: 0;
	top: 35%;
	transform: translateY(-50%);
	margin-left: 1em;
	padding: 0;
}

/* Page Sections */

.hero {
	margin-top: 6.875rem;
}

.intro {
	font-size: 2em;
}

.page-section {
	width: 100%;
	background-color: #fff;
}

.page-section-alt {
	width: 100%;
	background-color:# ;
}

/* Page Content */

.container {
	width: 60%;
	margin: 0 auto;
}

.feature {
	
}

.thumb {
	
}

.button {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
	padding: 0.5rem 1rem;
	font-size: 0.75em;
	font-family: Raleway, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}

.button:hover {
	background-color: #08a842;
	border: 1px solid color: #08a842;
	color: #fff;
}

/* Aside */
.page-aside {
	
}

.aside-feature-1 {
	
}

.aside-feature-2 {
	
}

/* Form */

input[type=text] {
	
}

input[type=text]:focus {
	border: 1px solid #08a842;
}

input[type=number] {
	
}

input[type=number]:focus {
	border: 1px solid #08a842;
}

/* Footer */

.page-footer {
	
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
